<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" minlength="3" placeholder="Title"
      ngModel #title="ngModel" required/>
      <mat-error *ngIf="title.invalid">Please enter the proper post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" placeholder="Content"
      ngModel #content="ngModel" required></textarea>
      <mat-error *ngIf="content.invalid">Please enter the post content</mat-error>
    </mat-form-field>
    <div>
      <button type="submit" class="mat-button" mat-raised-button color="primary">Submit Post</button>
    </div>
  </form>

</mat-card>
